<div class="signup">


    <div class="container">
        <div>
            <h1 class="signup-header">Sign up</h1>
            <h3 class="signup-subheader">It's quick and easy.</h3>
        </div>
        

        <form class="signup-form" action='/' method="post">
            <input class="signup-input" type="text" name="userName" placeholder="Username"><br>
            <input class="signup-input" type="email" name="email" placeholder="Email address"><br>
            <input class="signup-input" type="password" name="password" placeholder="New password"><br>
            <p class="signup-text">By clicking Sign Up, you agree to our Terms. Learn how we collect, use and share your data in our Data Policy and how we use cookies and similar technology in our Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</p> 
            <button class="submit" type="Submit" value="Submit">Sign Up</button>
        </form>
        
        <p>{{err}}</p>
    </div>
</div>