
<div class="login-container">
    <div>
        <h1 class="login-header">facebook</h1>
    <h2 class="login-subheading">Facebook helps you connect and share with the people in your life.</h2>
    </div>
    <div>
        <form class="login-form" action='/login' method="post">
        <label for="userName">User name</label><br>
        <input type="text" name="userName"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        {{!-- <input type="submit" value="Submit"> --}}
        <button class="login" type="Submit" value="Submit">Log In</button>
        </form>
    </div>
</div>

<p>{{err}}</p>
